* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

/* Navbar */

.navbar {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
}

.logodiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  padding-right: 0.5rem;
  width: 50px;
  height: 40px;
  border-right: 1px solid orange;
}

.logotext {
  letter-spacing: 5px;
}

.btn {
  color: black;
  background-color: #FFBF3E;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
}

@media only screen and (max-width: 650px) {
  .navbar {
    padding: 1rem 1rem;
  }

  .logo {
    width: 45px;
    height: 35px;
  }

  .logotext {
    letter-spacing: 3px;
  }

  .btn {
    padding: 0.5rem;
    font-size: 1rem;
  }
}

/* Profile */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bgimg {
  width: 100%;
  height: 18vw;
}

.herobottom {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem 2rem;
  width: 100%;
}

.heromain {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
}

.profilediv {
  width: 25%;
}

.profile {
  width: 15vw;
  height: 15vw;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  top: -40%;
  left: 5%;
}

.herobtmtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 13vw;
}

.profilehead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

ion-icon {
  color: white;
  border-radius: 50%;
  padding: 3px;
}

.herobtmdivs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

.profileheaddesc {
  font-weight: normal;
}

.followerdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  padding: 1rem 0rem;
}

.followerdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}

.followers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: 12px;
}

.followertext {
  padding: 5px 15px;
  border: 2px solid gray;
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  width: 100%;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.herobtmdivs {
  padding: 0rem 4rem;
}

.herodesc {
  display: flex;
  flex-direction: column;
}

.link {
  color: rgb(0, 157, 255);
  margin: 0.5rem 0;
}

.icondivs {
  display: flex;
  gap: 2rem;
}

.icondiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

@media only screen and (max-width: 650px) {
  .bgimg {
    width: 100%;
    height: 40vw;
  }

  .profile {
    width: 25vw;
    height: 25vw;
    border: 1px solid black;
    position: absolute;
    top: -40%;
    left: 0%;
  }

  .profileheadname {
    font-size: large;
  }

  .profilehead {
    gap: 0.5rem;
  }

  .followertext {
    font-size: 1rem;
  }

  .herodesc {
    font-size: smaller;
  }

  .herobtmtext {
    margin-left: 2.5rem;
  }

  .herobtmdivs {
    padding: 1rem 0rem;
  }

  .icondivs {
    gap: 1rem;
  }
}

/* Posts */

.postcount {
  margin-top: 2rem;
  border-bottom: 1px solid gray;
  height: 3.4rem;
}

.postsnumber {
  padding: 1rem 2rem;
  border-bottom: 1px solid white;
  display: inline-block;
  background-color: white;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  color: darkcyan;
  border-top-right-radius: 5px;
}

.postdiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding: 1rem;
  gap: 2rem;
}

.posts {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.347);
}

.posthead,
.postfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.postfooter {
  font-size: 0.8rem;
}

.postdate {
  color: gray;
}

@media only screen and (max-width: 1200px) {
  .postdiv {
    flex-direction: column;
  }
}

@media only screen and (max-width: 650px) {
  .postdate {
    font-size: x-small;
  }
}